@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <p>Esta é uma aplicação com um modelo simples de Carrinho de Compras.</p>
    
    <div class="row" style="justify-content:center">
        <div class="div-index">
            <a asp-controller="Products" asp-action="Index">Produtos</a>
        </div>
        <div class="div-index">
            <a asp-controller="Purchases" asp-action="Index">Pedidos</a>
        </div>
    </div>
        
    
    
</div>
