@model Carrinho.Models.Pedido

@{
    ViewData["Title"] = "Iniciar Pedido";
}

<h1>@ViewData["Title"]</h1>
<br />
<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Informe um nome para o seu pedido</label>
                <input asp-for="NomePedido" class="form-control" />
                <span asp-validation-for="NomePedido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a class="btn btn-danger" asp-action="Index"><span class="fas fa-arrow-left"></span> Voltar</a>
                <button type="submit" class="btn btn-primary"><span class="fas fa-cart-plus"></span> Criar Pedido</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
